

.container{	
	margin: 10px 4%;
	overflow: hidden;
	

}





.conteudo_lateral_left  {
	float: left;
	width: 50%;	

	
}


.conteudo_lateral_left  h1{
	text-align: center;
	line-height: 1;
	
}

.conteudo_lateral_left  h2{
	text-align: justify;

}

.conteudo_lateral_left p {
    justify-items: left;
	text-align: justify;
	font-size: 20px;
	
}

.conteudo_lateral_rigth {
	float: right;
	width: 49%;

}

.conteudo_lateral_rigth img {
	width: 100%;
	border-radius: 8px;
}
	

.acoes_container {
	margin: 10px 4%;
	overflow: hidden;
	max-width: 1180px;
	width: 100%;


}

.destaques {
	margin: 10px auto 0 auto;
}

.acoes_container  h2 {
	margin: 10px auto 10px auto;


}



.acoes{
	width: 33.2%;
	float: left;
	padding: 0 20px;
	box-sizing: border-box;
	min-height: 250px;

}

.acoes h3{
	text-align: center;
	color: #444;
    margin: 5px 2%;
	
	
	
}

.youtube {
	margin-left: 150px;
}

.logo {
	float: right;
	margin-right: 200px;
	margin-top: 20px;
	width: 300px;
	height: 300px;
}