body{	
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #f4f4f4;
}

a{text-decoration: none;}

header {
	margin: 0;
	
}


#menu_topo{
	   
		width: 100%;
		

}
.nav_top{
	margin: 0;
	padding: 5px;
	text-align: right;
	background: #22A2F2;
	border-bottom: #b4b4b4 solid  2px;
	width: 100%;

	

	
}



.nav_top ul{
	margin: 0;
}


.nav_top li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
	margin: 0 auto 0 auto ;
}
.nav_top  li a{
	font-size: 20px;
	color: #fff;

}
/*.nav .sem-borda{border: none;}*/
.nav_top  li:last-child {
	border: none;
}


.icon_top  img{
margin-left: 5px;


	
}


.whatsapp {
    position: fixed;
    top:80%;
    right: 0.5%;
    padding: 5px;
    z-index: 10000000;
}



.nav_main {
	text-align:left;

	
 
}


.nav_button  {
   margin-left: 5px;
	display: inline;
    border:none; 
	width: 100%;
	padding: 5px;
    background-color: #E56B6F;
    border-radius:8px; 
    text-decoration:none;
    font-size: 20px;
    color: #dcdcdc;
	
}

.nav_button a  {
    color: #dcdcdc;
	
}

footer {

	background-color: #22A2F2;
	padding: 10px;
}

#icon {
	 height: 20px;

}