.container {
	margin: 10px 5%;
	overflow: hidden;


}



.container img {
	width: 100%;
	border-radius: 8px;
	margin: 2px;

}



.conteudo_left_top {
	float: left;
	width: 59%;
	border: rgb(143, 143, 143) solid 1px;
	border-radius: 8px;
	min-height: 303px;
}

.conteudo_rigth_top {
	float: right;
	width: 40%;


}

.conteudo_rigth_top .imagem img {
	width: 100%;





}

.conteudo_rigth_bottom {
	float: right;
	width: 59%;
	border: rgb(143, 143, 143) solid 1px;
	border-radius: 8px;
	min-height: 303px;


}

.conteudo_left_bottom {
	float: left;
	width: 40%;


}





.conteudo_left_bottom .imagem img {
	width: 100%;

}



p {
	justify-items: left;
	text-align: justify;
	font-size: 20px;
	margin: 10px;
}


h2,
h1 {
	margin: 10px;

}